
<h1 class="text-center mb-3">Transkacije</h1>
<div class="table-responsive">
<table  class="<%=table_classes %>">
        <thead>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
            <% @transakcije.each do |tr| %>
                <tr>
                <td><%=tr.id %></td>
                <td><%=tr.r_br %></td>
                <td><%=tr.grupa %></td>
                <td><%=tr.naziv %></td>
                <td><%=tr.oporezivo %></td>
                <td>
                <div class="d-flex">
                <a href="<%=  edit_transakcije_url(tr) %>"><span class="fa fa-eye mr-2"></span></a>
                <% if tr.user==current_user%>
                <form action="<%= transakcije_url(tr) %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="bg-transparent" style="border:none">
                <span class="fa fa-trash"></span>
                </button>
                </form>
                <%end%>
                </div>
                </td>
                </tr>
            <%end %>
        </tbody>
        <tfoot>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </tfoot>
    </table>
    </div>
    <a href="<%= new_transakcije_url %>" class="btn btn-primary mt-3" >Kreiraj novu Transakciju</a>