
<h1 class="text-center mb-3">Promene tip</h1>
<div class="table-responsive">
<table  class="<%=table_classes %>">
        <thead>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
            <% @promena_tips.each do |t| %>
                <tr>
                <td><%=t.id %></td>
                <td><%=t.transakcija %></td>
                <td><%=t.naziv_promene_tip %></td>
                <td><%=t.odobrenje_labela %></td>
                <td><%= t.zaduzenje_labela %></td>
                <td><%="<i class='fas fa-check'></i>".html_safe if t.dupli_stav%></td>
                <td><%="<i class='fas fa-check'></i>".html_safe if t.pdv_odbitak%></td>
                <td><%=t.analitika_vise_objekta %></td>
                <td><%="<i class='fas fa-check'></i>".html_safe if t.oporezivo_pdv%></td>
                <td><%="<i class='fas fa-check'></i>".html_safe if t.set_transakcija%></td>
                <td>
                <div class="d-flex">
                <a href="<%=edit_promena_tip_url(t) %>"><span class="fa fa-eye mr-2"></span></a>
                <% if t.user==current_user%>
                <form action="<%= promena_tip_url(t) %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="bg-transparent" style="border:none">
                <span class="fa fa-trash"></span>
                </button>
                </form>
                <%end%>
                </div>
                </td>
                </tr>
            <%end %>
        </tbody>
        <tfoot>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </tfoot>
    </table>
    </div>
    <a href="<%=new_promena_tip_url%>" class="btn btn-primary mt-3" >Kreiraj novi tip promene</a>