<table id="example" class="data-table table table-striped table-bordered w-100 ">
        <thead>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
            <% @konto_sintetika.each do |sintetika| %>
                <tr>
                <td><%=sintetika.id %></td>
                <td><%=sintetika.konto2_grupa_id %></td>
                <td><%=sintetika.naziv %></td>
                <td><%=sintetika.konto %></td>
                <td>
                <div class="d-flex">
                <a href="<%=edit_konto_sintetika_url(sintetika) %>"><span class="fa fa-eye mr-2"></span></a>
                <% if sintetika.user==current_user%>
                <form action="<%= konto_sintetika_url(sintetika) %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="bg-transparent" style="border:none">
                <span class="fa fa-trash"></span>
                </button>
                </form>
                <%end%>
                </div>
                </td>
                </tr>
            <%end %>
        </tbody>
        <tfoot>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </tfoot>
    </table>

    <a href="<%=new_konto_sintetika_url%>" class="btn btn-primary mt-3" >Kreiraj novu Sintetiku</a>