<div class="d-flex justify-content-center">
<div class="col-lg-7 col-md-9 ">
    <h2 class="text-center">Kreiraj novi tip promene</h2>
    <form action="<%= promene_url(@promena) %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="id" value="<%=@promena.id%>">
   <input type="hidden" name="_method" value="PATCH">
    <div class="form-row">
    <div class="form-group col mr-1">
    <label for="promena_tip_naziv">Promena tip naziv:</label>
    <input type="text" name="promene[promena_tip_naziv]" id="promena_tip_naziv" class="form-control" value="<%=@promena.promena_tip_naziv%>">
    </div>
    <div class="form-group col  ml-1">
    <label for="naziv">Naziv:</label>
    <input type="text" name="promene[naziv]" id="naziv" class="form-control" value="<%=@promena.naziv%>">
    </div>
    </div>
    <div class="form-row">
            <div class="form-check form-check-inline mb-5">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="true" name="promene[pdv_odbitak]"
            <%= "checked" if @promena.pdv_odbitak %>>
            <label class="form-check-label" for="inlineCheckbox1">Pdv odbitak</label>
            </div>
             <div class="form-check form-check-inline mb-5">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="true" name="promene[ks]"
            <%= "checked" if @promena.ks %>>
            <label class="form-check-label" for="inlineCheckbox2">KŠ</label>
            </div>
    </div>
    <div class="d-flex justify-content-between">
    <a href="/promenes" class="btn btn-danger"> Natrag</a>
    <button type="submit" <%="disabled" if !(@promena.user==current_user) %>
     class="btn btn-primary">Azuriraj</button>
    </div>
    </form>
</div>
</div>