<table id="example" class="data-table table table-striped table-bordered w-100 ">
        <thead>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
            <% @konto_objekta.each do |obj| %>
                <tr>
                <td><%=obj.id %></td>
                <td><%=obj.konto3_sintetika_id %></td>
                <td><%=obj.naziv %></td>
                <td><%=obj.sifra_cetvrti_broj %></td>
                <td><%=obj.objekat %></td>
                <td><%=obj.tip %></td>
                <td><%="<i class='fas fa-check'></i>".html_safe if obj.ispravka%></td>
                <td>
                <div class="d-flex">
                <a href="<%=edit_konto_objekta_url(obj) %>"><span class="fa fa-eye mr-2"></span></a>
                <% if obj.user==current_user%>
                <form action="<%= konto_objekta_url(obj) %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="bg-transparent" style="border:none">
                <span class="fa fa-trash"></span>
                </button>
                </form>
                <%end%>
                </div>
                </td>
                </tr>
            <%end %>
        </tbody>
        <tfoot>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </tfoot>
    </table>
    <a href="<%=new_konto_objekta_url%>" class="btn btn-primary mt-3" >Kreiraj novi Objekat prometa</a>