<table id="example" class="data-table table table-striped table-bordered w-100 ">
        <thead>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
            <% @konto_racuni.each do |racun| %>
                <tr>
                <td><%=racun.id %></td>
                <td><%=racun.konto4_objekti_prometa_id %></td>
                <td><%=racun.naziv %></td>
                <td><%=racun.analitika%></td>
                <td><%=racun.pozicija_ks_ispravka%></td>
                <td>
                <div class="d-flex">
                <a href="<%=edit_konto_racuni_url(racun) %>"><span class="fa fa-eye mr-2"></span></a>
                <% if racun.user==current_user%>
                <form action="<%= konto_racuni_url(racun) %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="bg-transparent" style="border:none">
                <span class="fa fa-trash"></span>
                </button>
                </form>
                <%end%>
                </div>
                </td>
                </tr>
            <%end %>
        </tbody>
        <tfoot>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </tfoot>
    </table>
    <a href="<%=new_konto_racuni_url%>" class="btn btn-primary mt-3" >Kreiraj novi racun</a>