<table id="example" class="data-table table table-striped table-bordered w-100 ">
        <thead>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
            <% @konto_racuni.each do |racun| %>
                <tr>
                <td><%=racun.id %></td>
                <td><%=racun.konto4_objekti_prometa_id %></td>
                <td><%=racun.naziv %></td>
                <td><%=racun.analitika%></td>
                <td><%=racun.pozicija_ks_ispravka%></td>
                <td>
                <%= render "shared/konto_prikaz",edit_url:edit_konto_racuni_url(racun),
                delete_url:konto_racuni_url(racun) ,obj:racun%>
                </td>
                </tr>
            <%end %>
        </tbody>
        <tfoot>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </tfoot>
    </table>
    <a href="<%=new_konto_racuni_url%>" class="btn btn-primary mt-3" >Kreiraj novi racun</a>