<div class="d-flex justify-content-center">
<div class="col-lg-7 col-md-9 ">
    <h2 class="text-center">Kreiraj novu Robu</h2>
    <form action="<%=tip_robe_url(@roba) %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" >
     <input type="hidden" name="id" value="<%=@roba.id%>">
    
    <div class="form-group   ">
    <label for="naziv">Naziv:</label>
    <input type="text" name="roba[naziv]" id="naziv" class="form-control" value="<%=@roba.naziv%>">
    </div>

    <div class="form-group  ">
    <label for="oznaka">Oznaka:</label>
    <input type="text" name="roba[oznaka]" id="oznaka" class="form-control" value="<%=@roba.oznaka%>">
    </div>

    <div class="d-flex justify-content-between">
    <a href="/tip_robes" class="btn btn-danger"> Natrag</a>
    <button type="submit" <%="disabled" if !(@roba.user==current_user) %>
     class="btn btn-primary">Azuriraj</button>
    </div>
    </form>
</div>
</div>