
<h1 class="text-center mb-3">Partneri</h1>
<div class="table-responsive">
<table  class="<%=table_classes %>">
        <thead>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
            <% @partneri.each do |p| %>
                <tr>
                <td><%=p.id %></td>
                <td><%=p.opsti_podaci %></td>
                <td><%=p.naziv %></td>
                <td><%=p.sifra %></td>
                <td><%=p.tip %></td>
                <td><%=p.sediste %></td>
                <td><%=p.adresa %></td>
                <td><%=p.kontakt %></td>
                <td><%=p.status %></td>
                <td><%=p.pib %></td>
                <td><%=p.tekuci %></td>
                <td><%=p.pdv %></td>
                <td>
                <div class="d-flex">
                <a href="<%=edit_partneri_url(p) %>"><span class="fa fa-eye mr-2"></span></a>
                <% if p.user==current_user%>
                <form action="<%= partneri_url(p) %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="bg-transparent" style="border:none">
                <span class="fa fa-trash"></span>
                </button>
                </form>
                <%end%>
                </div>
                </td>
                </tr>
            <%end %>
        </tbody>
        <tfoot>
            <tr>
            <%@nazivi_kolona.each do |kolona| %>
            <th> <%=kolona %></th>
            <%end %>
            <th>Opcije</th>
            </tr>
        </tfoot>
    </table>
    </div>
    <a href="<%=new_partneri_url%>" class="btn btn-primary mt-3" >Kreiraj novog partnera</a>