<!DOCTYPE html>
<html>
  <head>
    <title>Rt2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hot_keys', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= react_component("Navigation",{current_user: current_user ? current_user.username : nil},{ prerender: true})%>
  <div class="container" id="main"><%= yield %></div>
  <%= render 'shared/footer' %>
  <%= yield :page_scripts %>
  </body>
</html>
